#root, body, html{
}


.custom-center{
  width: 320px;
  height: 568px;
  padding: 20px;
  margin: 200px auto;
  border: 2px gray solid;
  border-radius: 10px;
  overflow: auto;
  background: white;
}

.custom-header{
  margin: -20px -20px 20px;
  width: 316px;
  height: 60px;
  border: 10px rgb(27, 27, 27) solid;
  background: rgb(27, 27, 27);
  background-image: url('assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-banner{
  margin: -20px -20px 20px;
  width: 316px;
  padding: 10px;
  background: rgb(27, 27, 27);
  background-image: url('assets/mini-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

h5{
  color: white;
}

.custom-icon{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url('assets/profile.jpg');
}

.custom-profile{
  width: 316px;
  margin: -20px -20px 20px;
  background-image: url('assets/banner-background.jpg');
  background-size: auto;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.button-container{
 display: flex;
 flex-direction: column;
}

NavLink{
  margin: 20px;
  text-decoration: none;
}

.btn{
  text-decoration: none;
  margin: 10px 0;
}


.white{
  color: white;
}
